@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Oswald, sans-serif;
}
.container {
    max-width: 1200px;
    margin-inline: auto;

}
.spaced {
    margin: 30px 5px;
}
header{
    background-color: rgb(207, 59, 14);
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.centered {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.bold {
    font-weight: 700;
}
.white {
    color: white;
}
.menu {
    padding: 20px;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.inputEstilizado {
    min-width: 400px;
    float: right;
    margin-left: 20px;
}
form .spaced {
    padding: 20px;
}
input.botao {
    border: none;
    cursor: pointer;
}
textarea {
    min-height: 250px;
}
.tta {
    text-align: center;
}
nav a {
    padding: 6px 10px;
    margin: 0 10px;
    border: solid white 3px;
    border-radius:5px;
}
.card {
    max-width: 650px;
}
.texto {
    color: white;
    background-color: #cf3b0e;
    display: block;
    padding: 20px;
    margin-top: -5px;
}
.row {
    flex-direction: row;
}
.botao {
    text-decoration: none;
    background-color: #cf3b0e;
    padding: 6px 10px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border-radius: 2px;
    box-shadow: black 1px 1px 4px;
}
h1{
    text-align: center;
}    


img {
    height: auto;
    max-width: 100%;
}
footer {
    width: 100%;
    background-color: rgb(207, 59, 14);
    padding: 20px;
}
footer a {
    color: white;
    font-size: 0.9rem;
    padding-right: 10px;
    font-weight: 300;
    text-decoration: none;
}
.sidebar {
    max-width: 300px;
    min-width: 180px;
    background-color: #cf3b0e17;
    padding: 30px;
    min-height: 550px;
}
.sidebar div {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.186);
}
.sidebar div:last-child {
    border-bottom: none;    
}
.sidebar a {
    color: #333;
    text-decoration: none;
}
.video {
    margin: 40px 0;
}
.vh-90 {
    min-height: 90vh;
}
.min-card {
    min-width: 650px;
}
.hiddenNav {
    display: none;
}
@media screen and (max-width: 925px) {
    .sidebar {
        position: absolute;
        background: white;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        left: -300px;
        transition: all 0.3s ease-in-out;
    }
    .sidebarNotHidden {
        left: 0;
        transition: all 0.3s ease-in-out;
    }
    header nav {
        display: none;
    }
    .hiddenNav {
        display: block;
        cursor: pointer;
    }

}