<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    {% include 'includes/cabecalho.html' %}

    {% if sucesso %}
    <div class="flex spaced justify-center centered wrap">
        <div>
            <p>Receita deletada com sucesso!</p>
        </div>
        <div>
            <a class='botao' href="/home" >Visualizar todas as Receitas</a>
        </div>
    </div>

    {% elif receita %}
    <div class="flex spaced justify-center centered wrap column vh-90">
        <div class="spaced">
            <h2>Deletar Receita</h2>
        </div>
        <div class="spaced">
            <p>Você tem certeza que deseja remover esta receita?</p>
        </div>
        <div class="spaced">
            <a class="botao spaced" href="/{{receita.id}}">Cancelar</a>
            <a class="botao spaced" href="/delete/{{receita.id}}/confirmed">Deletar</a>
        </div>
    </div>
    {% else %}
        <div class="flex spaced justify-center centered wrap">
            <div><p>Nenhuma receita encontrada</p></div>
            <div>
                <a href="/">Voltar para a lista de receitas</a>
            </div>
        </div>
    {% include 'includes/rodape.html' %}
    {% endif %}
</body>
</html>