<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/moveSidebar.js" defer></script>
</head>

<body>
    {% include 'includes/cabecalho.html' %}

    <div class="flex spaced justify-center wrap">
        {% include 'includes/sidebar.html' %}
        <div class="flex centered column wrap">
            {% for receita in receitas %}
            {% if receita %}
            <section class="flex column spaced">
                <div class="card">
                    <div class="imagem">
                        <a href="/{{receita.id}}">
                            <img src="{{receita.imagem_url}}" alt="{{receita.nome}}">
                        </a>
                        <a class="texto" href="/{{receita.id}}">
                            <h1>{{receita.nome}}</h1>
                        </a>
                    </div>
                </div>
            </section>
            {%endif%}
            {%else%}
            <div class="flex column spaced min-card">
                <p class="spaced">Nenhuma Receita Encontrada.</p>
            </div>
            {%endfor%}
        </div>
    </div>


    {% include '/includes/rodape.html' %}

</body>

</html>